/* Reset some default styling */
body, h1, h2, ul, li {
    margin: 100;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #8B008B;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
}

.chapter-section {
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(150, 150, 127);
}

.chapter-list {
    list-style-type: none;
    padding: 0;
}

.chapter-list li {
    margin-bottom: 10px;
}

.chapter-list a {
    display: block;
    background-color: #8B008B;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.chapter-list a:hover {
    background-color:  #8B008B;

}
